.investigate-background[data-active="true"] {
  height: calc(100% - var(--spacing-24));
  padding: var(--spacing-3);
  padding-block-start: var(--spacing-2);
  background-color: var(--color-background-base-default);
  color: var(--color-text-primary);
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: calc(20% - 12px) calc(80%);
  grid-template-rows: calc(2.5%) calc(53.25% - 8px) calc(43.25%);
  grid-template-areas:
    "breadcrumb breadcrumb"
    "investigate-subsystems star-tracker"
    "investigate-subsystems mnemonics";
}

.investigate-background[data-active="false"] {
  display: none;
}

rux-button.investigate-breadcrumb {
  width: fit-content;
}

rux-button.investigate-breadcrumb::part(container) {
  padding-inline-start: 0;
  padding-block: 0;
}

.cytoscape-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-background-base-default);
  padding-block: var(--spacing-2);
}

.firefox-list {
  padding: var(--spacing-4);
}

.firefox-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.firefox-list rux-button::part(container) {
  box-shadow: none;
}
