.command-background[data-active="true"] {
  height: calc(100% - var(--spacing-24));
  padding: var(--spacing-3);
  background-color: var(--color-background-base-default);
  color: var(--color-text-primary);
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: calc(30% - 5px) calc(45% - 5px) calc(25% - 5px);
  grid-template-rows: calc(31.6%) calc(29.05%) calc(39.35% - 16px);
  grid-template-areas:
    "alerts pass-plan link-status"
    "alerts pass-plan subsystems"
    "alerts pass-plan watcher";
}

.command-background[data-active="false"] {
  display: none;
}
