.mnemonics [slot="header"] {
  display: flex;
}

.mnemonics rux-input {
  margin-left: auto;
  margin-right: var(--spacing-4);
  width: 18rem;
}

.table-wrapper.mnemonics rux-table-header-row {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-wrapper.mnemonics rux-table-header-cell:nth-of-type(1) {
  padding-left: var(--spacing-4);
}

.table-wrapper.mnemonics rux-table-header-cell,
.table-wrapper.mnemonics rux-table-cell {
  width: 17%;
  padding-right: var(--spacing-20);
}

.table-wrapper.mnemonics rux-table-header-cell:nth-of-type(4),
.table-wrapper.mnemonics rux-table-cell:nth-of-type(4) {
  text-align: right;
}

.table-wrapper.mnemonics rux-table-cell:nth-of-type(4) {
  padding-left: var(--spacing-3);
}

.table-wrapper.mnemonics rux-status {
  float: left;
  margin-left: var(--spacing-8);
}

.table-wrapper.mnemonics rux-table-header-row rux-icon {
  vertical-align: middle;
  width: 32px;
}

.table-wrapper.mnemonics rux-table-header-cell:has(rux-icon.visible) {
  cursor: pointer;
}

.table-wrapper.mnemonics rux-table-header-cell[data-sortprop="status"] {
  text-align: center;
}
